---
apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakClient
metadata:
  name: {{ ocp4_workload_konflux_tssc_cluster_keycloak_client_id }}
  namespace: {{ ocp4_workload_konflux_tssc_cluster_keycloak_namespace }}
  labels:
    app: keycloak
spec:
  realmSelector:
    matchLabels:
      realm: {{ ocp4_workload_konflux_tssc_cluster_keycloak_realm }}
  client:
    clientId: {{ ocp4_workload_konflux_tssc_cluster_keycloak_client_id }}
    name: OpenShift Console OAuth
    description: OAuth client for OpenShift Console authentication via Keycloak
    enabled: true
    clientAuthenticatorType: client-secret
    secret: {{ _oauth_client_secret }}
    redirectUris:
      - "https://oauth-openshift.{{ _cluster_domain }}/oauth2callback/{{ ocp4_workload_konflux_tssc_cluster_oauth_idp_name }}"
    webOrigins:
      - "https://oauth-openshift.{{ _cluster_domain }}"
      - "https://console-openshift-console.{{ _cluster_domain }}"
    protocol: openid-connect
    publicClient: false
    standardFlowEnabled: true
    implicitFlowEnabled: false
    directAccessGrantsEnabled: true
    serviceAccountsEnabled: false
    attributes:
      access.token.lifespan: "300"
      client.session.idle.timeout: "1800"
      client.session.max.lifespan: "36000"
